.customButtonRed {
    background-color: #F71344;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: auto;
  cursor: pointer;
  margin: 1rem;
  
}

.customButtonRed:hover {
  background-color: #9C0526;
}