.customButton {
  background-color: #E9A431;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 60%;
}

.customButton:hover {
  background-color: #C38B2D;
}