.slider-container {
    background-color: white;
  border-radius: 25px;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 400px;
  margin-bottom: 3rem;
}

.cards-wrapper {
  position: relative;
  width: 900px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 0 0 280px;
  background-color: #fdf6ef;
  border-radius: 20px;
  text-align: center;
  padding: 1.5rem;
  position: absolute;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}

.card.center {
  opacity: 1;
  transform: scale(1.1);
  z-index: 3;
  pointer-events: auto;
}

.card.left {
  transform: translateX(-300px) scale(0.9);
  opacity: 0.6;
  z-index: 2;
  pointer-events: auto;
}

.card.right {
  transform: translateX(300px) scale(0.9);
  opacity: 0.6;
  z-index: 2;
  pointer-events: auto;
}

.card.hidden {
  opacity: 0;
  transform: scale(0.8);
  z-index: 1;
}

.card-icon {
  font-size: 3rem;
  color: #f71344;
  margin-bottom: 1rem;
}

.card h3 {
  color: #f71344;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.9rem;
  color: #333;
}
