.HeaderNav {
  width: auto;
  display: flex;
  justify-content: start;
  gap: 40px;
  align-items: center;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 20px;
  
}
.buttonHeader {
  margin-left:50%;
  display: flex;
}
a {
    text-decoration: none ;
    color: #2E1E21;
}
.Logo {
  width: 4rem; 
  margin-right: 5%;
}
.active {
  color : #F71344 ;
  text-decoration-line: none;
}

.Dropdown {
 position: relative;
}
.Dropdown > div {
cursor: pointer;
display: flex;
align-items: center;
gap: 5px;
font-weight: 500;
}
.Arrow {
padding-left: 5px;
transition: transform 0.3s ease;
}
.Arrow.active {
transform: rotate(180deg);
}

.Menu {
position: absolute;
top: 100%;
left: 0;
margin-top: 10px;
background-color: #fff;
border-radius: 20px;
padding: 50px 70px;
box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
display: grid;
grid-template-columns: repeat(3, minmax(300px, 1fr));
gap: 20px 40px;
z-index: 1000;
animation: fadeSlide 0.3s ease-out forwards;
}
@keyframes fadeSlide {
0% {
opacity: 0;
transform: translateY(10px);
}
100% {
opacity: 1;
transform: translateY(0);
}
}

/* Chaque lien dans le menu */
.Menu a {
display: flex;
align-items: start;
justify-content: center;
text-decoration: none;
color: #2E1D21;
font-weight: 500;
font-size: 1rem;
transition: color 0.2s ease;
}

.Menu a:hover {
color: #F71344; 
}

/* Icône à gauche de chaque lien */
/* .Menu a img {
width: 24px;
height: 24px;
margin-right: 10px;
object-fit: contain;
filter: brightness(0) saturate(100%) sepia(100%) hue-rotate(-10deg) saturate(500%) brightness(90%);
} */